body {
  margin: 50 px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100vh;
  flex-direction: column;
}

header h1 {
  font-size: 100px;
  margin-left: 210px;
}

header img {
  width: 800px;
  height: 200px;
  margin-left: 250px;
}

header {
  background-color: #6E7D80;
  color: white;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
  z-index: 2;
  font-family: 'Times New Roman'
}

u {
  color: white;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 25px; /* Aumentando o espaço entre os itens do menu */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px; /* Aumentando o tamanho da fonte */
}

.menu {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 250px;
  gap: 20px;
  padding: 30px;
  background-color: #226096;
}

.botao{
  padding: 12px 24px;
  background-color: #226096;
  color: white;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.menu-lateral {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #536569;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.menu-lateral a {
  margin-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}

.menu-lateral a:hover {
  background-color: #6b7d81;
  transform: scale(1.035);
}

.logo {
  padding-bottom: 150%;
  width: 200px;
  height: 200px;
  margin: 25px auto;
}

.LogoSaeb {
  display: flex;
  margin: auto;
  padding-right: 100px;
  width: 400px;
  height: 400px;
}


.conteudo {
  margin-left: 220px; /* espaço para o menu lateral */
  padding: 20px;
  z-index: 2;
}

main {
  /*display: flex;*/
  align-items: flex-start;
  background-color: #fff;
  padding: 60px;
  margin: 30px auto;
  max-width: 1100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  border-left: 5px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.colaboradores {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  padding: 60px;
  margin: 30px auto;
  max-width: 1100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  border-left: 5px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.titulocolaborador {
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  color: black;
  margin-bottom: 6px;
}

.textocolaborador {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 3px;
}

.textocolaboradordivisor {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 120px;
}

.textocolaboradordivisormenor {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 40px;
}

.colunacentro {
  float: center;
  flex: 33%;
}

.colunaesquerda {
  float: left;
  flex: 33%;
}

.colunadireita {
  float: right;
  flex: 33%;
}

.manchetes {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto;
  max-width: 1100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-right: 250px;
  border-left: 5px;
  padding-left: 60px;
  padding-right: 60px;
  flex-grow: 1;
}

.manchete {
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  margin: 40px;
  max-width: 1100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 16px;
  border-left: 5px;
  transition: transform 0.2s ease;
}

.manchete:hover {
  transform: scale(1.008);
  -webkit-font-smoothing: subpixel-antialiased;
}


main h2 {
  font-size: 46px; 
}

main h3 {
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.galeriamatific img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  margin-right: 60px;
}

.galeria-redacao {
  width: 50%;
  height: 50%;
  display: flex;
  margin: auto;
}

.presedente_gremio {
  width: 50%;
  height: 50%;
  padding-bottom: 15px;
  display: flex;
  margin: auto;
}

.galeriageek {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.galeriageek figure {
  width: 350px; /* largura máxima de cada imagem */
  margin: 0;
  text-align: center;
}

.galeriageek img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.galeriageek figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.primeira_aluna {
  width: 40%;
  height: 40%;
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  background-clip: padding-box;
}

.texto-noticia {
  flex: 1;
  text-align: justify;
}

.texto-noticia h4 {
  font-size: 24px;
  padding-top: 42px;
}

.texto-noticia img {
 margin: 40px;
}

.LogoADM {
  display: flex;
  margin: auto;
  padding-right: 250px;
  width: 250px;
  height: 250px;
}

.texto-noticia p {
  font-size: 20px;
  line-height: 1.6;
  color: #555;
}

.texto-noticia b {
  font-size: 25px;
  line-height: 1.6;
  color: black;
}

article {
  background-color: white;
  margin: auto;
  border-left: 4px solid #0366d6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

article h5 {
  font-size: 34px;
  color: black;
  padding: 15px;
}

footer {
  background-color: #579eb8;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}