body {
  margin: 50 px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

header h1 {
  font-size: 100px;
}

header {
  background-color: #579eb8;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
    z-index: 2;

}

h2 {
  font-size: 60px
}

.previsao {
  position: relative;
  z-index: 2; /* Faz com que fique acima do menu lateral */
  margin: 20px;
}

.menu {
  background-color: #579eb8; /* Cor igual ao header */
  padding: 15px 0; /* Aumentando o espaçamento superior e inferior */
  text-align: center; /* Centralizar o conteúdo */
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 25px; /* Aumentando o espaço entre os itens do menu */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px; /* Aumentando o tamanho da fonte */
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #333;
}

.botao{
  padding: 12px 24px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.menu-lateral {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 700px;
  display: flex;
  flex-direction: column;
}

.menu-lateral a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-lateral a:hover {
  background-color: #575757;
}

.conteudo {
  margin-left: 220px; /* espaço para o menu lateral */
  padding: 20px;
    z-index: 2;
}

.destaque {
  /*display: flex;*/
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  margin: 30px auto;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.destaque img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.texto-noticia {
  flex: 1;
}

.texto-noticia h2 {
  margin-top: 0;
  font-size: 28px;
  color: #333;
}

.texto-noticia p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}



/*main {
  padding: 20px;
  max-width: 98%;
  margin: 0 auto;
}

.destaque {
  background-color: #ffeeba;
  padding: 20px;
  border-left: 5px solid #ffc107;
  margin-bottom: 30px;
}

.noticias article {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #0366d6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

footer {
  background-color: #579eb8;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
*/